@import url('https://content.powerapps.com/resource/powerappsportal/fonts/montserrat/v25/400.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/montserrat/v25/400-italic.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/montserrat/v25/600.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/montserrat/v25/600-italic.css');
