<div class="home-banner" style="background-color: rgb(248, 248, 248); padding-top: 80px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(235, 238, 240);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h1 class="mb-4">How can we help you today?</h1>
        <form method="GET" action="/en-US/search/" role="search" class="form-search">
          <div class="input-group d-flex">
            <label for="q" class="visually-hidden"> Search </label><input type="text" name="q" placeholder="Search Knowledge Base" value="" title="Search" class="form-control" style="box-shadow: none; font-size: 14px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(235, 238, 240); border-right-color: rgb(235, 238, 240); border-bottom-color: rgb(235, 238, 240); border-left-color: rgb(235, 238, 240); border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; max-width: 600px; padding-top: 1rem; padding-right: 1rem; padding-bottom: 1rem; padding-left: 1rem; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;" />
            <div class="input-group-btn align-top">
              <button type="submit" title="Search" aria-label="Search" class="btn btn-primary" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; min-width: 50px; font-size: 22px; max-width: inherit; max-height: 53px; height: 53px; left: -63px; z-index: 99; top: 1px;"><span aria-hidden="true" class="fa fa-search"></span></button>
            </div>
          </div>
        </form>
        <div class="d-flex align-items-center gap-5 mt-4">
          <a href="/tickets/" class="icons-holder d-flex align-items-center gap-2"><i class="fa-solid fa-ticket" style="font-size: 24px; transform: rotate(-45deg);"></i><span style="font-size: 17px;">Open a new request</span></a><a href="/tickets/my-tickets/" class="icons-holder d-flex align-items-center gap-2"><i class="fa-solid fa-wave-pulse" style="font-size: 24px;"></i><span style="font-size: 17px;">View active requests</span></a>
        </div>
      </div>
      <div class="col-12 col-lg-4 position-relative tech-info" style="max-width: 100%; height: auto; min-width: 220px;">
        <div class="text-right" style="position: absolute; top: 50%;">
          <p class="mb-0" style="font-size: 14px; line-height: 18px;"><b>André Langevin</b></p>
          <p class="mb-0" style="font-size: 14px; line-height: 18px;">Support Team Lead <br />since 2011</p>
        </div>
        <img src="https://images.sherweb.com/freshdesk-home-photo-2.png" alt="André Langevin" title="André Langevin" class="tech-info" style="max-width: 100%; height: auto; min-width: 220px;" />
      </div>
    </div>
  </div>
</div>
{% include 'KBStyles' %}{% include 'KBCategoryWidgetTop5' %}
<div class="row sectionBlockLayout text-start" style="display: flex; flex-wrap: wrap; margin: 0px; min-height: auto; padding: 8px;">
  <div class="container" style="padding: 0px; display: flex; flex-wrap: wrap;"><div class="col-lg-12 columnBlockLayout" style="flex-grow: 1; display: flex; flex-direction: column; min-width: 250px;"></div></div>
</div>
